body {
    font-family: Arial, sans-serif;
    background: #f3eee8;
    padding: 2rem;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #4b2c2c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #271818;
}